<footer>
    <div class="container">
        <div class="row">
            {% if page.isIndex %}
                <div class="col-md-12">
            {% else %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
            {% endif %}
                    <hr />
                    <div class="float-left">
                        <p><a class="footerLink" href="/">&copy; Chev Eldrid 2025</a></p>
                    </div>
                    <div class="float-right">
                        <a class="smLink" href="https://github.com/chevEldrid" target="_blank">
                            <img src="/assets/images/GitHub-Mark-32px.png" alt="Github">
                        </a>
                        <a class="smLink" href="https://www.linkedin.com/in/chev-eldrid-497057135/" target="_blank">
                            <img src="/assets/images/in circle.png" alt="LinkedIn" />
                        </a>
                        <a class="smLink" href="mailto:chev424@gmail.com?Subject=Website" target="_top">
                            <img src="/assets/images/email.png" alt="Email me" />
                        </a>
                    </div>
                </div>
        </div>
    </div>
</footer>