---
layout: default
---
<div class="blogPost">
    <div class="row mt-2">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Recent Posts</h3>
            <hr class="mt-0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for post in site.posts %}
                <li>
                    <a href="{{post.url}}"><b>{{post.title}}</b>: {{post.hook}} - ({{post.date | date_to_string}})</a>
                </li>
            {% endfor %}
        </div>
    </div>
</div>