---
layout: default
---
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-2">
        <div class="blogPost">
            <a href="{% link blog/index.html %}">&larr; posts</a>
            <h1>{{ page.title }} ({{page.date | date_to_string}})</h1>
            <hr \>
            {{ content }}
            <div class="PageNavigation">
                {% assign cat = page.categories[0] %}
                {% assign cat_list = site.categories[cat] %}
                {% for post in cat_list %}
                {% if post.url == page.url %}
                {% assign pOffset = forloop.index0 | minus: 1 %}
                {% assign nOffset = pOffset | plus: 2 %}
                {% if forloop.first == false %}
                {% assign next_post = cat_list[pOffset] %}
                {% endif %}
                {% if forloop.last == false %}
                {% assign previous_post = cat_list[nOffset] %}
                {% endif %}
                {% break %}
                {% endif %}
                {% endfor %}
                {% if next_post %}
                <div class="float-left">
                    <a class="prev" href="{{next_post.url}}">&laquo; {{next_post.title}} ({{next_post.date | date_to_string}})</a>
                </div>
                {% endif %}
                {% if previous_post %}
                <div class="float-right">
                    <a class="next" href="{{previous_post.url}}">{{previous_post.title}} ({{previous_post.date | date_to_string}}) &raquo;</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>